@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@100;200;300&family=Lato:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: 'Kanit', sans-serif;
    color: #333333;
}

/* headings and logo */

h1, h2 {
    text-transform: uppercase;
    font-weight: 300;
    letter-spacing: 3px;
    color: #333333;
}

#logo {
    font-size: 250%;
    float: left;
    margin-left: 20px;
}

/* navigation bar/ menu */

#menu, #logo {
    line-height: 75px;
}

#menu li {
    text-transform: uppercase;
    float: right;
    list-style-type: none;
    margin-right: 30px;
}

/* clan image */

#clan-image {
    height: 600px;
    width: 100%;
    background: url('../images/destiny-gang.jpg') no-repeat center center;
}

/* Join Us Page */

#submit {
    padding: 7px 15px;
    border-radius: 4px;
    text-transform: uppercase;

}

.join-us-container {
    margin: 100px 500px 150px 150px;
    border: 2px solid #333333;
    border-radius: 4px;
    font-size: 130%;
    padding-top: 200px;
    padding-left: 50px;
}

.form-text {
    margin-top: -140px;
    margin-bottom: 50px;
    position: relative;
}
